
<main class="main">
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/primeiro" routerLinkActive="active">Sobre</a></li>
      <li><a routerLink="/segundo" routerLinkActive="active">Contato</a></li>
    </ul>
  </nav>
  <div class="content">
    <div class="left-side">
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>

<!-- Aqui as páginas são renderizadas -->
<router-outlet />
