<div class="contact-section">
  <div class="contact-section--content">
    <h2>
      Entre em contato <br> com a gente!
    </h2>
    <div class="contact-section--information">
      <div class="contact-section--address">
        <img src="../../assets/svg/map-pin.svg" alt="">
        <span>R. Amauri Souza, 346</span>
      </div>
      <div class="contact-section--email">
        <img src="../../assets/svg/mail-icon.svg" alt="">
        <span>contato&#64;doctorcare.com</span>
      </div>
    </div>
    <app-button></app-button>
  </div>
  <div class="contact-section--image">
    <img src="../../assets/pic.png" alt="">
  </div>
</div>
