

  <div class="content">

    <button (click)="ativarEDesativarMenuLateral()">☰ {{ ativarMenuLateral ? 'Desativar' : 'Ativar' }} Menu Lateral</button>
    <aside class="sidebar" [class.open]="ativarMenuLateral">
      <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="sobre" routerLinkActive="active">Sobre</a>
        <a routerLink="contato" routerLinkActive="active">Contato</a>
      </nav>
    </aside>

    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>

