.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 22em;
  margin: auto;
  text-align: center; /* centraliza o card */
}

.titulo {
  color: Grey;
  font-size: 1.1em;
}

.sobre {
  margin: 0.02em;
}

.corIcone {
  color: orange;
}
