<main class="main">
  <div class="content">
    <div>
      <h2></h2>

      <input [(ngModel)]="novaTarefa" placeholder="Digitar uma tarefa..."/>
      <button></button>

      <ul>
          <li *ngFor="let tarefa of tarefas; let i = index">
            <input type="checkbox" [(ngModel)]="tarefa.concluido" />
            <span [class.concluida]="tarefa.concluido"> {{tarefa.titulo}} </span>
              <button (click)="removerTarefa(i)" >❌</button>
          </li>
      </ul>
  </div>

  </div>
</main>

<router-outlet />
