<div class="sobre-section">
  <div class="sobre-section--image">
    <img src="../../assets/Pic(1).png" alt="">
  </div>
  <div class="sobre-section--information">
    <h3>SOBRE NÓS</h3>
    <h2>
      Entenda quem somos <br />
      e por que existimos
    </h2>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim. Amet minim mollit non deserunt ullamco
      est sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet
      minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
      officia consequat duis enim. Amet minim mollit non deserunt ullamco est
      sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet
      minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
  </div>
</div>
