<div class="servicos-section">
  <h2 class="servicos-section--servicos">SERVIÇOS</h2>
  <h3>
    Como podemos ajudá-lo <br />
    a se sentir melhor?
  </h3>
  <div class="servicos-section--cards">
    <div class="servicos-section--card">
      <img src="../../assets/svg/check-icon.svg" alt="" />
      <h2>Problemas digestivos</h2>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim.
      </p>
    </div>
    <div class="servicos-section--card">
      <img src="../../assets/svg/check-icon.svg" alt="" />
      <h2>Saúde Hormonal</h2>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim.
      </p>
    </div>
    <div class="servicos-section--card">
      <img src="../../assets/svg/check-icon.svg" alt="" />
      <h2>Bem-estar mental</h2>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim.
      </p>
    </div>
    <div class="servicos-section--card">
      <img src="../../assets/svg/check-icon.svg" alt="" />
      <h2>Cuidados Pediátricos</h2>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim.
      </p>
    </div>
    <div class="servicos-section--card">
      <img src="../../assets/svg/check-icon.svg" alt="" />
      <h2>Autoimune e Inflamação</h2>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim.
      </p>
    </div>
    <div class="servicos-section--card">
      <img src="../../assets/svg/check-icon.svg" alt="" />
      <h2>Saúde do Coração</h2>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim.
      </p>
    </div>
  </div>
</div>
