<div class="card">
		<img src="img/gifCyberpunk.gif" style="width:100%">
		<h1>Philiphe Siqueira Ferreira</h1>
		<p class="titulo">Desenvolvedor Frontend, Analista de Teste</p>
		<p>Centro Universitario do Estado Do Pará (CESUPA)</p>
		<p class="sobre">Apaixonado por aprender e resolver problema. Sempre focado em estudar e aprender novos aprendizados.</p>
		<a class="fa fa-dribbble corIcone"></a>
		<a class="fa fa-twitter corIcone"></a>
		<a class="fa fa-linkedin corIcone"></a>
		<a class="fa fa-facebook corIcone"></a>
	</div>
