.container {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    background-color: rgb(52, 58, 63);
}

h1 , h2, h3{
    color: #fff;
}

.form-inline {
    display: flex;
    gap: 10px;
}

.list {
    padding: 0;
    list-style: none;
}

.list li {
    color: #fff;
    display: flex;
}
