
<div class="container">

  <h1>Aplicação de Lista de Tarefas</h1>

  <hr/>
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="form-group">
      <label for="task" style="margin-bottom: 0.3em;">Tarefa</label>
      <div class="input-botao">
      <input
        type="text"
        class="form-control"
        id="task"
        placeholder="Digitar Tarefas"
        ngModel
        name="task"
        name="task"
        required
      />
      <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Criar</button> <!-- A funcionalidade disable só sera assionada quando o TaskForm fo vazio-->
      </div>
      <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required field</small> <!-- TaskForm.invalid e taskForm.dirty são os cenarios em que o dado dentro da taskForm for vazio ou errado o que gera um dos dois cenarios e mostra a mensagem de erro-->
    </div>

  </form>

  <hr/>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Tarefas</th>
      <th scope="col">Completadas</th>
      <th scope="col">Deletar</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of taskArray; index as i">
      <td>{{t.taskName}}</td>
      <td> <input (change)="onCheck(i)" id="myCheckbox" type="checkbox" [checked]="t.isCompleted" /> </td>
      <td> <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Deletar</button> </td>
    </tr>
  </tbody>
</table>

</div>
